In [6]:
import pandas as pd
test = pd.read_csv('cote.csv', index_col = 0)
test

,등록번호,도구명,평가일자,평가시간,ADL_배변,ADL_식사섭취,ADL_이동,ADL_체위변경,계속적인 감시,이름,발생일시,성별,진료과,연령,year,낙상횟수
0,1002623,ADL_식사섭취,20180101,800,0,1,0,0,0,김땡땡,2018-02-06 11:00:00,남,신장내과,73,2018,1
1,1002623,ADL_이동,20180101,800,0,0,1,0,0,김땡땡,2018-02-06 11:00:00,남,신장내과,73,2018,1
2,1002623,ADL_체위변경,20180101,800,0,0,0,1,0,김땡땡,2018-02-06 11:00:00,남,신장내과,73,2018,1
3,1002623,계속적인 감시,20180101,800,0,0,0,0,1,김땡땡,2018-02-06 11:00:00,남,신장내과,73,2018,1
4,1002623,ADL_배변,20180101,800,1,0,0,0,0,김땡땡,2018-02-06 11:00:00,남,신장내과,73,2018,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6795,1352448,ADL_식사섭취,20180629,300,0,1,0,0,0,이땡땡,2018-03-19 08:50:00,여,종양혈액내과,68,2018,3
6796,1352448,ADL_식사섭취,20180629,300,0,1,0,0,0,이땡땡,2018-04-04 02:30:00,여,종양혈액내과,68,2018,3
6797,1352448,ADL_배변,20180629,300,1,0,0,0,0,이땡땡,2018-03-11 12:30:00,여,종양혈액내과,68,2018,3
6798,1352448,ADL_배변,20180629,300,1,0,0,0,0,이땡땡,2018-03-19 08:50:00,여,종양혈액내과,68,2018,3
6799,1352448,ADL_배변,20180629,300,1,0,0,0,0,이땡땡,2018-04-04 02:30:00,여,종양혈액내과,68,2018,3

In [8]:
test['발생일시'].describe

<bound method NDFrame.describe of 0       2018-02-06 11:00:00
1       2018-02-06 11:00:00
2       2018-02-06 11:00:00
3       2018-02-06 11:00:00
4       2018-02-06 11:00:00
               ...
6795    2018-03-19 08:50:00
6796    2018-04-04 02:30:00
6797    2018-03-11 12:30:00
6798    2018-03-19 08:50:00
6799    2018-04-04 02:30:00
Name: 발생일시, Length: 1810, dtype: object>